# Ignore node_modules directory
node_modules/

# Ignore logs and build artifacts
logs/
dist/
build/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Serverless directories
.serverless

# esbuild directories
.esbuild

# stdout logs
logs.txt

# Local DynamoDB files
dynamodb-local-metadata.json
shared-local-instance.db
shared-local-instance.db-journal

# Other
assistants.ts
midscene_run
